.banner {
  width: 100%;
  height: 100vh;
}

.banner__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner__title {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  margin: 0.6rem 0 1.5rem;
}

.banner__subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
  margin: 0.6rem 0 1.5rem;
}

.banner__subtitle-text {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000;
  margin: 0.6rem 0 1.5rem;
  display: inline-block;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}

.banner__subtitle-text::after {
  content: "|";
  animation: cursor-blink 1s infinite;
}

.banner__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200rem;
  margin: 0.8rem 0 1.5rem;
}

.banner__buttons:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.banner__button-1 {
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  background-color: #e23838;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.banner__button-1:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  transform: scale(1.1);
}

.banner__button-2 {
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  background-color: #5ebd3e;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.banner__button-2:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  transform: scale(1.1);
}

.banner__button-3 {
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  background-color: #009cdf;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.banner__button-3:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  transform: scale(1.1);
}

.banner__button-4 {
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  background-color: #ffb900;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.banner__button-4:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  transform: scale(1.1);
}

.banner__button-5 {
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  background-color: #973999;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  margin: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.banner__button-5:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  transform: scale(1.1);
}

@media screen and (max-width: 1040px) {
  .banner__title {
    font-size: 2rem;
  }
  .banner__subtitle {
    font-size: 1.2rem;
  }
  .banner__subtitle-text {
    font-size: 1.2rem;
  }
  .banner__buttons {
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
}
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
}
